:root {
  --primary: #452829;
  --secondary: #57595b;
  --tertiary: #e8d1c5;
  --background: #f3e8df;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: var(--primary);
}

nav .navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 340px;
}

nav .navbar-container .navbar-brand {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  z-index: 999;
}

nav .navbar-container .navbar-brand span {
  color: var(--tertiary);
}

nav .navbar-container .navbar-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--primary);
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-800px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s ease;
}

nav .navbar-container .navbar-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

nav .navbar-container .navbar-menu li a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
}

nav .navbar-container .navbar-toggle {
  display: block;
  z-index: 999;
  background-color: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
}

nav .navbar-container .navbar-toggle .bar {
  display: block;
  width: 36px;
  height: 4px;
  margin: 8px auto;
  background: white;
  border-radius: 24px;
  transition: all 0.3s ease-in-out;
}

nav .navbar-container .navbar-toggle.active .bar:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}

nav .navbar-container .navbar-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

nav .navbar-container .navbar-toggle.active .bar:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}

@keyframes transparentItem {
  from {
    transform: translateY(-800px);
  }
  to {
    transform: translateY(0px);
  }
}

/* Tablet */
@media only screen and (min-width: 768px) {
  nav .navbar-container {
    width: 800px;
  }
  nav .navbar-container .navbar-menu {
    position: static;
    justify-content: end;
    align-items: center;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    background-color: transparent;
    display: flex;
    flex-direction: row;
    width: 0;
    height: 0;
  }

  nav .navbar-container .navbar-menu li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }

  nav .navbar-container .navbar-menu li a:hover::after {
    content: " ";
    border-bottom: 3px solid white;
    display: block;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
    /* border-radius: 4px; */
    transition: all 1s ease-in;
  }

  nav .navbar-container .navbar-toggle {
    display: none;
  }
}

/* Desktop */
@media only screen and (min-width: 992px) {
  nav .navbar-container {
    width: 1200px;
  }
}
